<%# Call layout and pass the path where our boilerplate file is. We don't need to specify .ejs
    This will make the rest of this file the 'body' on the boilerplate file %>
<% layout('layouts/boilerplate') %>

<h1 class="mb-3">Venues</h1>
<a class="btn btn-md btn-primary mb-3" href="/venues/new">Add a Venue</a>

<% for (let venue of venues) { %>
<%# Bootstrap card component, margin bottom: 3 %>
<div class="card mb-3">
    <div class="row">
        <%# md-4 means that after the screen is med or above, the content will take 4/12 of the space %>
        <div class="col-md-4">
            <img class="img-fluid" src="/images/bg1.jpg" alt="cover image">
        </div>

        <div class="col-md-8">
            <%# According to bootstrap docs %>
            <div class="card-body">
                <h5 class="card-title">
                    <%= venue.name %>
                </h5>
                <p class="card-text">
                    <%= venue.description %>
                </p>
                <%# muted is just another color for bootstrap %>
                <p class="card-text">
                    <small class="text-muted">
                        <%= venue.address %>, <%= venue.city %>, <%= venue.state %>
                    </small>
                </p>
                <a href="<%= venue.url %>" class="btn btn-primary">View <%= venue.name %></a>
            </div>
        </div>
    </div>
</div>
<% } %>